In [12]:
import pandas as pd
data = [1, "marco", 10, 20],[1, "giorgio",15,23],[2, "marco",16,30],[2,"giorgio", 38, 50]
df = pd.DataFrame(data, columns = ["giorno", "nome", "minuti_arrivo_casa", "minuti_arrivo_scuola"])
df.set_index("giorno")

           nome  minuti_arrivo_casa  minuti_arrivo_scuola
giorno
1         marco                  10                    20
1       giorgio                  15                    23
2         marco                  16                    30
2       giorgio                  38                    50

In [16]:
#dettaglio di ciascuna riga
df.stack()

0  giorno                        1
   nome                      marco
   minuti_arrivo_casa           10
   minuti_arrivo_scuola         20
1  giorno                        1
   nome                    giorgio
   minuti_arrivo_casa           15
   minuti_arrivo_scuola         23
2  giorno                        2
   nome                      marco
   minuti_arrivo_casa           16
   minuti_arrivo_scuola         30
3  giorno                        2
   nome                    giorgio
   minuti_arrivo_casa           38
   minuti_arrivo_scuola         50
dtype: object

In [14]:
#dettaglio di ciascuna colonna
df.unstack()

giorno                0          1
                      1          1
                      2          2
                      3          2
nome                  0      marco
                      1    giorgio
                      2      marco
                      3    giorgio
minuti_arrivo_casa    0         10
                      1         15
                      2         16
                      3         38
minuti_arrivo_scuola  0         20
                      1         23
                      2         30
                      3         50
dtype: object